Repository hoo29/test-terraform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: project1-dev, project2-dev, project1-prod

.gitlab-ci.yml:

project1-dev:
  trigger:
    include:
      - local: deployments/dev/project1/.gitlab-ci.yml
  rules:
    - changes:
        - deployments/dev/project1/**/*
        - modules/**/*
      if: '$CI_PIPELINE_SOURCE == "push"'

project2-dev:
  trigger:
    include:
      - local: deployments/dev/project2/.gitlab-ci.yml
  rules:
    - changes:
        - deployments/dev/project2/**/*
        - modules/**/*
      if: '$CI_PIPELINE_SOURCE == "push"'

project1-prod:
  trigger:
    include:
      - local: deployments/prod/project1/.gitlab-ci.yml
  rules:
    - changes:
        - deployments/prod/project1/**/*
        - modules/**/*
      if: '$CI_PIPELINE_SOURCE == "push"'

remove gitlab
  .gitlab-ci.yml
  .gitlab/ci_templates/terraform.gitlab-ci.yml
  deployments/dev/project1/.gitlab-ci.yml
  deployments/dev/project1/.terraform.lock.hcl
  deployments/dev/project1/providers.tf
  deployments/dev/project2/.gitlab-ci.yml
  deployments/dev/project2/providers.tf
  deployments/prod/project1/.gitlab-ci.yml
  deployments/prod/project1/providers.tf
Due: project1-dev, project2-dev, project1-prod

rename resource
  modules/module1/main.tf
Due: project1-dev, project2-dev, project1-prod

scalr
  deployments/dev/project1/.terraform.lock.hcl
  deployments/dev/project1/main.tf
  deployments/dev/project1/providers.tf
Due: project1-dev

scalr
  deployments/dev/project1/.terraform.lock.hcl
  deployments/dev/project1/providers.tf
Due: project1-dev

env0
  deployments/dev/project1/providers.tf
  deployments/dev/project2/.terraform.lock.hcl
Due: project1-dev, project2-dev

some change
  modules/module1/main.tf
Due: project1-dev, project2-dev, project1-prod

tfcloud
  deployments/dev/project1/providers.tf
Due: project1-dev

flow file
  deployments/dev/project1/env0.yml
Due: project1-dev

flow
  deployments/dev/project1/env0.yml
Due: project1-dev

flow
  deployments/dev/project1/env0.yml
  deployments/dev/project1/providers.tf
Due: project1-dev

move env0
  env0.yml
Due: none

flow
  env0.yml
Due: none

remove env0 file
  env0.yml
Due: none

Update main.tf
  modules/module1/main.tf
Due: project1-dev, project2-dev, project1-prod

update
  deployments/dev/project1/main.tf
Due: project1-dev

Update main.tf
  deployments/dev/project1/main.tf
Due: project1-dev

cdk
  .gitignore
  cdk/.gen/modules/module1.ts
  cdk/.npmrc
  cdk/__tests__/main-test.ts
  cdk/cdktf.json
  cdk/help
  cdk/jest.config.js
  cdk/main.ts
  cdk/package-lock.json
  cdk/package.json
  cdk/setup.js
  cdk/synth.sh
  cdk/tsconfig.json
  modules/module1/main.tf
Due: project1-dev, project2-dev, project1-prod

remote backend
  cdk/main.ts
Due: none

add providers file
  cdk/providers.tf
Due: none

debug scripting
  cdk/synth.sh
Due: none

z?
  cdk/synth.sh
Due: none

package json
  cdk/package.json
Due: none

fixes
  cdk/backend.tf
  cdk/main.ts
  cdk/package-lock.json
  cdk/package.json
  cdk/providers.tf
  cdk/scalr-backend-config
  cdk/synth.sh
  modules/module1/providers.tf
  modules/module2/providers.tf
Due: project1-dev, project2-dev, project1-prod

maybe now
  cdk/package.json
Due: none

fix
  cdk/synth.sh
Due: none

maybe
  cdk/backend.tf
  cdk/main.ts
  cdk/synth.sh
Due: none

Update main.tf
  deployments/dev/project2/main.tf
Due: project2-dev

test
  modules/module1/main.tf
Due: project1-dev, project2-dev, project1-prod

t
  modules/module1/main.tf
Due: project1-dev, project2-dev, project1-prod

basic
  .gitignore
  .terraform.lock.hcl
  deployments/dev/project1/.terraform.lock.hcl
  deployments/dev/project1/main.tf
  deployments/dev/project1/providers.tf
  deployments/dev/project2/main.tf
  deployments/prod/project1/main.tf
  deployments/prod/project1/providers.tf
  main.tf
  modules/module1/main.tf
  modules/module1/providers.tf
  modules/module1/variables.tf
  modules/module2/main.tf
  modules/module2/providers.tf
  modules/module2/variables.tf
  providers.tf
Due: project1-dev, project2-dev, project1-prod
